header {
  @include flex(flex, row, space-between, center);
  height: 8vh;
  font-family: "font1";
}

.title__cont {
  margin: 0 1rem;

  h2 {
    @include title(2rem, 0.05rem);
  }

  @include screen(laptop) {
    font-size: $font-size-sm;
  }
}

.menu__cont {
  display: none;

  @include screen(laptop) {
    @include flex(flex, row, space-between, center);
  
    a {
      @include title(1.8rem, 0.04rem);
      margin: 0 1.5rem;
    }

    a:hover {
      scale: 1.1;
    }
  }
}

.ham__cont {

  @include screen(laptop) {
    visibility: hidden;
  }
  img {
    height: 4vh;
    width: auto;
    margin: 0 1rem;
  }
}