main {
  background-image: $background;
  .phone--background {
    @include screen(tablet) {
      display: none;
    }
  }

  .desktop--background {
    display: none;

    @include screen(tablet) {
      display: block;
    }
  }
}