main {
  height: 92vh;

  

  .phone--background {

    @include screen(laptop) {
      display: none;
    }
  }

  .desktop--background {
    display: none;
    
    @include screen(laptop) {
      display: block;
    }
  }
}