.services {
  background-image: $background;
  text-align: center;

  h2 {
    @include title(4rem, 0.06rem);

    @include screen(desktop) {
      @include title(4rem, 0.08rem);
      margin-top: 10rem;
      width: 40vw;
      margin: 0 1rem;
      text-align: center;
    }
  }
}