.team {
  background-color: $color-primary;
  text-align: center;

  h2 {
    @include title(4rem, 0.06rem);
    margin-bottom: 5rem;
  }

  .team__cont {
    @include flex(flex, column, center, center);
  }

  .member__cont {
    @include flex(flex, column, center, center);
    width: 80vw;

    @include screen(laptop) {
      width: 60vw;
    }
  }

  .profilepic {
    box-shadow: 0px 0px 0px 3px $color-quinary;
  }

  .profilesign {
    position: relative;
    bottom: 10rem;
    margin-bottom: -15rem;
    opacity: .6;

    @include screen(tablet) {
      bottom: 15rem;
      margin-bottom: -23rem;
    }

    @include screen(laptop) {
      max-width: 40vw;
    }
  }

  p {
    @include paragraph($font-size-xs, $color-tertiary);
    text-align: center;
    padding: 0 1rem 4rem 1rem;

    @include screen(laptop) {
      width: 50vw;
    }
  }
}