.team {
  @include flex(flex, column, center, center);
  margin: 3rem 0;
  background-color: $color-primary;

  h2 {
    @include title(4rem, 0.06rem);
  }

  .team__cont {
    margin-top: 13rem;

    .member__cont {
      @include flex(flex, column, center, center);
      height: 32rem;
  
      .profilepic {
        width: 80vw;
        box-shadow: 0px 0px 0px 3px $color-quinary;
      }
  
      .profilesign {
        position: relative;
        bottom: 47vh;
        opacity: .6;
        width: 80%;
      }
  
      p {
        @include paragraph($font-size-xs, $color-tertiary);
        text-align: center;
        padding: 4rem 2rem;
      }
  
      @include screen(laptop) {
        flex-direction: row;
  
        img {
          width: 50vw;
        }
      }
    }
  }
}