.thestory {
  @include flex(flex, column, center, center);
  background-image: $background;

  h2 {
    @include title(4rem, 0.06rem);
    margin-top: 3rem;

    @include screen(desktop) {
      @include title(4rem, 0.08rem);
      margin-top: 10rem;
      width: 40vw;
      margin: 0 1rem;
      text-align: center;
    }
  }

  p {
    @include paragraph(1.4rem, $color-primary);
    background-color: $color-tertiary;
    padding: 6rem 2rem 8rem 2rem;
    text-align: center;

    @include screen(desktop) {
      width: 60vw;
    }
  }
}