.thestory {
  @include flex(flex, column, center, center);
  margin: 3rem 0;

  h2 {
    @include title(4rem, 0.06rem);
    margin-top: 3rem;
  }

  p {
    @include paragraph(1.4rem, $color-primary);
    background-color: $color-tertiary;
    padding: 6rem 2rem 8rem 2rem;
    text-align: center;
  }
}