// THE STORY 1
.custom-shape1 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  @include screen(desktop) {
    display: none;
  }
}

.custom-shape1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.custom-shape1 .shape-fill {
  fill: $color-tertiary;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape1 svg {
      width: calc(100% + 1.3px);
      height: 100px;
  }
}

// THE STORY 2
.custom-shape2 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  @include screen(desktop) {
    display: none;
  }
}

.custom-shape2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.custom-shape2 .shape-fill {
  fill: $color-tertiary;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape2 svg {
      width: calc(100% + 1.3px);
      height: 100px;
  }
}