/* -------------------------------------------- */
/*
 @include flex(flex, column, center, flex-start)
*/
/* -------------------------------------------- */
/*
 @include spacing("margin", 1rem, "xy");
 @include spacing("padding", 0.5rem, "y");
*/
/* -------------------------------------------- */
/*
  .container-with-floated-children {
  @extend %clearfix;
  }
*/
/* -------------------------------------------- */
/*
  .image {
    @include image-2x('path/to/image.png', 100px, 50px);
  }
*/
/*
@include screen(laptop) {
  width: 80vw;
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

body {
  font-size: 15px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background: rgb(0, 23, 57);
  color: #e5c56e;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 100;
}

@font-face {
  src: url(../assets/fonts/rumblebrave.otf);
  font-family: "font1";
}
@font-face {
  src: url(../assets/fonts/gfs-didot.ttf);
  font-family: "font2";
}
.button-5 {
  position: relative;
  bottom: 15rem;
  left: 3rem;
  align-items: center;
  background-clip: padding-box;
  background-color: #987412;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
@media screen and (min-width: 769px) {
  .button-5 {
    bottom: 50rem;
  }
}

.button-5:hover {
  background-color: #e5c56e;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.4rem 1.2rem;
  color: #001739;
}

.button-5:hover {
  transform: translateY(-2px);
}

.custom-shape-divider-bottom-1715441345 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1715441345 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 117px;
}

.custom-shape-divider-bottom-1715441345 .shape-fill {
  fill: #e5c56e;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1715441345 svg {
    width: calc(100% + 1.3px);
    height: 56px;
  }
}
.custom-shape-divider-bottom-1715451371 {
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #e5c56e;
}

.custom-shape-divider-bottom-1715451371 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 117px;
}

.custom-shape-divider-bottom-1715451371 .shape-fill {
  fill: #001739;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1715451371 svg {
    width: calc(100% + 1.3px);
    height: 80px;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  font-family: "font1";
}

.title__cont {
  margin: 0 1rem;
}
.title__cont h2 {
  font-family: "font1";
  font-size: 2rem;
  color: #987412;
  -webkit-text-stroke: 0.05rem #e5c56e;
}
@media screen and (min-width: 769px) {
  .title__cont {
    font-size: 1.4rem;
  }
}

.menu__cont {
  display: none;
}
@media screen and (min-width: 769px) {
  .menu__cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menu__cont a {
    font-family: "font1";
    font-size: 1.8rem;
    color: #987412;
    -webkit-text-stroke: 0.04rem #e5c56e;
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .ham__cont {
    visibility: hidden;
  }
}
.ham__cont img {
  height: 4vh;
  width: auto;
  margin: 0 1rem;
}

@media screen and (min-width: 576px) {
  main .phone--background {
    display: none;
  }
}
main .desktop--background {
  display: none;
}
@media screen and (min-width: 576px) {
  main .desktop--background {
    display: block;
  }
}

.thestory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.thestory h2 {
  font-family: "font1";
  font-size: 4rem;
  color: #987412;
  -webkit-text-stroke: 0.06rem #e5c56e;
  margin-top: 3rem;
}
.thestory p {
  font-family: "font2";
  font-size: 1.4rem;
  color: #001739;
  background-color: #e5c56e;
  padding: 6rem 2rem 8rem 2rem;
  text-align: center;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  background-color: #001739;
}
.team h2 {
  font-family: "font1";
  font-size: 4rem;
  color: #987412;
  -webkit-text-stroke: 0.06rem #e5c56e;
}
.team .team__cont {
  margin-top: 13rem;
}
.team .team__cont .member__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32rem;
}
.team .team__cont .member__cont .profilepic {
  width: 80vw;
  box-shadow: 0px 0px 0px 3px #987412;
}
.team .team__cont .member__cont .profilesign {
  position: relative;
  bottom: 47vh;
  opacity: 0.6;
  width: 80%;
}
.team .team__cont .member__cont p {
  font-family: "font2";
  font-size: 1.2rem;
  color: #e5c56e;
  text-align: center;
  padding: 4rem 2rem;
}
@media screen and (min-width: 769px) {
  .team .team__cont .member__cont {
    flex-direction: row;
  }
  .team .team__cont .member__cont img {
    width: 50vw;
  }
}/*# sourceMappingURL=main.css.map */