$brave: "../assets/fonts";
@font-face {
  src: url(#{$brave}/rumblebrave.otf);
  font-family: 'font1';
}

$gfs-didot: "../assets/fonts";
@font-face {
  src: url(#{$gfs-didot}/gfs-didot.ttf);
  font-family: 'font2';
}